//
// UI Select Bootstrap to foundation
// --------------------------------------------------
@import "../../bower_components/foundation-sites/scss/foundation";
@include foundation-forms;

$height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));

// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   4px dashed;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
  color: $medium-gray;
}

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: $height - rem-calc(1);
  left: 0;
  z-index: 1040;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: ($form-spacing / 2);
  margin: 0 0 $form-spacing;
  list-style: none;
  font-size: $input-font-size;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $select-background;
  border: $input-border-focus;
  border-radius: $dropdown-radius;
  background-clip: padding-box;
  appearance: none;
}

// Hover/Focus state
.dropdown-menu li > span {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $white !important;
    background-color: $primary-color;
  }
}

// Active state
.dropdown-menu .active > span {
  &,
  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    outline: 0;
    background-color: $primary-color;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray
.dropdown-menu .disabled > span {
  &,
  &:hover,
  &:focus {
    color: $medium-gray;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
    //@include reset-filter;
    cursor: none;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.dropdown-menu-right {
  left: auto; // Reset the default from `.dropdown-menu`
  right: 0;
}
// With v3, we enabled auto-flipping if you have a dropdown within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default dropdown menu alignment.
//
// This is only for left-aligning a dropdown menu within a `.navbar-right` or
// `.pull-right` nav component.
.dropdown-menu-left {
  left: 0;
  right: auto;
}

// Dropdown section headers
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: $input-font-size;
  line-height: normal;
  color: $input-color;
  white-space: nowrap; // as with > li > a
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: (1040 - 10);
}

// Right aligned dropdowns
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: 2px dashed;
    content: "";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}


// specific select
.ui-select-container {

  //Form inline
  .form-inline & {
    display: inline-block;
    vertical-align: middle;
    width: auto;

    input.ui-select-search.ng-hide {
      display: block !important;
      visibility: hidden;
      height: 0;
      border: 0;
      padding: 0;
    }
  }

  .ui-select-match {
    margin-bottom: 0;

    &.btn-default-focus {
      .ui-select-toggle {
        background-color: $select-background !important;
      }

      background-color: inherit !important;
      outline: none !important;
      box-shadow: none;
    }

    .ui-select-toggle {
      width: 100%;
      margin-bottom: 0;
      border: $input-border;
      margin: 0 0 $form-spacing;
      padding: $form-spacing / 2;
      height: $height;
      font-weight: $input-font-weight;
      font-family: $input-font-family;
      font-size: $input-font-size;
      line-height: normal;
      color: $input-color;

      .ui-select-placeholder {
        color: $input-placeholder-color;
      }

      .ui-select-match-text {
        color: $input-color;
      }

      a.btn {
        position: absolute;
        height: auto;
        top: 0;
        right: 10px;
        margin: 0 10px 0 0;
        text-decoration: none;
        color: $medium-gray;
        border: none;
      }
    }
  }

  .ui-select-search {
    width: 100%;
    margin-bottom: 0;
  }
}
