//
// UI Swiper Gallery
// --------------------------------------------------
ui-swiper {
  display: block;

  .swiper-slide {

    figure {
      position: relative;
      height: 100%;
      width: 100%;

      figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #666;
        color: #fff;
        opacity: 0;
        transition: opacity .5s ease-out;
        padding: 0.33em;
        line-height: normal;
      }

      > a:hover ~ figcaption,
      > img:hover ~ figcaption,
      .swiper-slide-content:hover ~ figcaption,
      figcaption:hover {
        opacity: 0.7;
      }

      img ~ .swiper-slide-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .swiper-slide-content {
        padding: 20px;
      }
    }
  }
}
